<template>
    <div class="container mt-3">
        <div class="d-flex justify-content-center align-items-center" v-if="loading == true">
            <Loading />
        </div>
        <div v-if="loading == false">
            <div class="mb-3 d-flex justify-content-end">
                <a to="/blogs" class="btn btn-primary">All Blogs</a>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" v-for="(blog, id) in blogs" :class="{ active: id==0 }" :key='blog.id'>
                        <img class="d-block w-100" :src="blog.image" alt="First slide" style="height:450px;object-fit:cover">
                        <div class="carousel-caption d-md-block">
                            <h5>{{ blog.title }}</h5>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    import Loading from '../components/Loader.vue'
    export default {
        data: () => ({
            blogs: [], 
            loading: false
        }),
        components: { 
            Loading
        }, 
        created() {
            this.loading = true
            axios.get('api/blog/random/2')
                .then((response) => {
                    let { data } = response.data
                    this.blogs = data.blogs
                    console.log(response.data)
                    this.loading = false
                })
                .catch((e) => {
                    let {response} = e
                    this.loading = false
                    console.log(response)
                })
        }
    }
</script>
