<template>
    <div class="container">
        <div class="d-flex justify-content-center align-items-center" v-if="loading == true">
            <Loading />
        </div>
        <div v-if="loading == false">
            <div class="row">
                <!-- <div class="col-md-6" v-for="(campaign) in campaigns.data.campaigns.data" :key="campaign.id">
                    <div class="mb-3 border rounded shadow border-success card">
                        <img class="card-img-top" :src="campaign.image" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ campaign.title }}</h5>
                            <p class="card-text">{{ campaign.description }}</p>
                            <div class="d-flex justify-content-end">
                                <router-link :to="`/campaign/${campaign.id}`" class="btn btn-success">Detail</router-link>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-6" v-for="(campaign) in campaigns" :key="campaign.id"
                    :per-page="pageSize" :current-page="currentPage">
                    <div class="mb-3 border rounded shadow border-success card">
                        <img class="card-img-top" :src="campaign.image" alt="Card image cap">
                        <div class="card-body" style="min-height: 14rem !important;">
                            <h5 class="card-title">{{ campaign.title }}</h5>
                            <div class="w-full mb-2">
                                <campaign-item :campaign="campaign"/>
                            </div>
                            <div class="row">
                                <div class="col-md-6 d-flex justify-content-between">
                                    <button class="btn btn-primary" v-if="campaign.required !== null">
                                        Dibutuhkan: Rp. {{ campaign.required.toLocaleString('id-ID') }}
                                    </button>
                                    <button class="btn btn-primary" v-else>
                                        <b-icon icon="credit-card" variant="white"></b-icon>
                                        dibutuhkan: Rp. 0
                                    </button>
                                </div>
                                <div class="col-md-6 d-flex justify-content-end">
                                    <button class="btn btn-secondary" v-if="campaign.collected !== null">
                                        Terkumpul: Rp. {{ campaign.collected.toLocaleString('id-ID') }}
                                    </button>
                                    <button class="btn btn-secondary" v-else>
                                        <b-icon icon="credit-card" variant="white"></b-icon>
                                        terkumpul: Rp. 0
                                    </button>
                                </div>
                            </div>
                            <hr>
                            <p class="card-text">{{ (campaign.description).substring(0, 200) }}</p>
                            <div class="mt-2 d-flex justify-content-end">
                                <router-link :to="`/campaign/${campaign.id}`" class="btn btn-success">Detail</router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-2 d-flex justify-content-center"> 
                <b-pagination
                    v-model="currentPage"
                    :total-rows="totalPage"
                    :per-page="pageSize"
                    @input="go"
                    pills
                ></b-pagination>
            </div>
            <!-- <div class="mt-2 d-flex justify-content-center">     
                <button class="mr-2 btn btn-success" @click.prevent="loadMore" v-if="campaigns.hasMorePages">Load More</button>
                <button class="btn btn-primary" @click.prevent="lessMore" v-if="perPage > 2">Show Less</button>      
            </div> -->
        </div>
    </div>
</template>

<script>
    import Loading from '../components/Loader.vue'
    export default {
        data: () => ({
            campaigns: [], 
            perPage: 2,
            loading: false,

            currentPage:1,
            pageSize: 0,
            totalPage: 0
        }),
        components: { 
            Loading
        }, 
        created() {
            // this.getCampaigns()
            this.go()
        },
        methods: {
            // getCampaigns() {
            //     this.loading = true
            //     axios.get('api/campaign', {
            //         params: { perPage: this.perPage}
            //     })
            //         .then((response) => {
            //             this.campaigns = response.data
            //             this.loading = false
            //         })
            //         .catch((e) => {
            //             let {response} = e
            //             this.loading = false
            //             console.log(response)
            //         })
            // },
            go() {
                this.loading = true
                axios.get(`api/campaign?page=${this.currentPage}`)
                    .then((response) => {
                        let {data} = response.data
                        this.campaigns = data.campaigns.data
                        this.currentPage = data.campaigns.current_page
                        this.pageSize = data.campaigns.per_page
                        this.totalPage = data.campaigns.total
                        this.loading = false
                    })
                    .catch((e) => {
                        let {response} = e
                        this.loading = false
                        console.log(response)
                    })
            },
            // loadMore() {
            //     this.perPage += 2
            //     this.getCampaigns()
            // },
            // lessMore() {
            //     this.perPage -= 2
            //     this.getCampaigns()
            // }
        }
    }
</script>
