<template>
     <div class="container">
        <div class="d-flex justify-content-center align-items-center" v-if="loading == true">
            <Loading />
        </div>
        <div v-if="loading == false">
            <div class="row justify-content-center" v-if="campaign.id">
                <div class="col-md-8">
                    <div class="border rounded shadow border-success card">
                        <img class="card-img-top" :src="campaign.image" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ campaign.title }}</h5>
                            <div class="w-full mb-2">
                                <campaign-item :campaign="campaign"/>
                            </div>
                            <div class="row">
                                <div class="col-md-6 d-flex justify-content-between">
                                    <button class="btn btn-primary" v-if="campaign.required !== null">
                                        Dibutuhkan: Rp. {{ campaign.required.toLocaleString('id-ID') }}
                                    </button>
                                    <button class="btn btn-primary" v-else>
                                        <b-icon icon="credit-card" variant="white"></b-icon>
                                        dibutuhkan: Rp. 0
                                    </button>
                                </div>
                                <div class="col-md-6 d-flex justify-content-end">
                                    <button class="btn btn-success" v-if="campaign.collected !== null">
                                        Terkumpul: Rp. {{ campaign.collected.toLocaleString('id-ID') }}
                                    </button>
                                    <button class="btn btn-success" v-else>
                                        <b-icon icon="credit-card" variant="white"></b-icon>
                                        terkumpul: Rp. 0
                                    </button>
                                </div>
                            </div>
                            <hr>
                            <p>Alamat: {{ campaign.address}}</p>
                            <br>
                            <p class="mt-0 card-text">{{ campaign.description }}</p>
                        </div>
                        <!-- {{ counter  }}  -->
                        <button 
                            class="m-2 rounded btn btn-warning" 
                            @click="donate"
                            :disabled="campaign.collected >= campaign.required && campaign.collected > 0"
                        >
                            DONATE
                        </button>
                    </div>
                </div>
            </div>
             <div class="row justify-content-center" v-else>
                <div class="col-md-8">
                    <div class="border rounded shadow border-success card">
                        <h3 class="text-center card-header">Not Found</h3>
                        <div class="card-body">
                            <p>Oppss,, .... {{ message }}</p>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Loading from '../components/Loader.vue'
    export default {
        data: () => ({
            campaign: {},
            // donasi: 0,
            message: '',
            loading: false,
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        }),

        components: { 
            Loading
        }, 

        created() {
            this.getDetail()
        }, 
        
        methods: {
            getDetail() {
                let {id} = this.$route.params
                let url = '/api/campaign/' + id
                this.loading = true
                axios.get(url)
                .then((response) => {
                    if (response.data) {
                        this.message = response.data.response_message
                        let { data } = response.data
                        this.campaign = data.campaign
                        this.loading = false                        
                    } 
                    this.loading = false  
                })
                .catch((e) => {
                    console.log(e)
                    this.loading = false
                })
            },

            donate() {
                // alert('donasi')
                // this.donasi++ 
                this.$store.commit('increment')
            }
        },

        computed: {
            counter() {
                return this.$store.getters.getCounter
            }
        }
    }
</script>