<template>
    <div class="container">
        <div class="d-flex justify-content-center align-items-center" v-if="loading == true">
            <Loading />
        </div>
        <div v-if="loading == false">
            <div class="mb-3">
                <router-link to="/campaigns" class="btn btn-primary">
                    All Campaigns                    
                    <b-iconstack font-scale="1" rotate="0" class="ml-1">
                        <b-icon stacked icon="chevron-right" shift-h="-4" variant="white"></b-icon>
                        <b-icon stacked icon="chevron-right" shift-h="0" variant="white"></b-icon>
                        <b-icon stacked icon="chevron-right" shift-h="4" variant="white"></b-icon>
                    </b-iconstack>
                </router-link>
            </div>
            <div class="row">
                <div class="col-md-6" v-for="(campaign) in campaigns" :key="`campaign` + campaign.id">
                    <div class="border rounded shadow border-success card">
                        <img class="card-img-top" :src="campaign.image" alt="Card image cap">
                        <div class="card-body" style="min-height: 19rem !important;">
                            <h5 class="card-title">{{ campaign.title }}</h5>
                            <div class="w-full mb-2">
                                <campaign-item :campaign="campaign"/>
                            </div>
                            <div class="row">
                                <div class="col-md-6 d-flex justify-content-between">
                                    <button class="btn btn-primary" v-if="campaign.required !== null">
                                        Dibutuhkan: Rp. {{ campaign.required.toLocaleString('id-ID') }}
                                    </button>
                                    <button class="btn btn-primary" v-else>
                                        <b-icon icon="credit-card" variant="white"></b-icon>
                                        dibutuhkan: Rp. 0
                                    </button>
                                </div>
                                <div class="col-md-6 d-flex justify-content-end">
                                    <button class="btn btn-secondary" v-if="campaign.collected !== null">
                                        <b-icon icon="credit-card"></b-icon>
                                        Terkumpul: Rp. {{ campaign.collected.toLocaleString('id-ID') }}
                                    </button>
                                    <button class="btn btn-secondary" v-else>
                                        <b-icon icon="credit-card" variant="white"></b-icon>
                                        terkumpul: Rp. 0
                                    </button>
                                </div>
                            </div>
                            <hr>
                            <div class="mt-2">
                                <p class="card-text" v-if="campaign.description.length < 200">{{ campaign.description }}</p>
                                <p class="card-text" v-else>{{ (campaign.description).substring(0, 200) }}</p>
                            </div>
                            <div class="mt-2 d-flex justify-content-end">
                                <router-link :to="`/campaign/${campaign.id}`" class="btn btn-success">Detail</router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Loading from '../components/Loader.vue'
    export default {
        data: () => ({
            campaigns: [], 
            loading: false
        }),
        components: { 
            Loading
        }, 
        
        created() {
            this.loading = true
            axios.get('api/campaign/random/2')
                .then((response) => {
                    let { data } = response.data
                    this.campaigns = data.campaigns
                    this.loading = false
                    // console.log(this.campaigns)
                })
                .catch((e) => {
                    let {response} = e
                    this.loading = false
                    console.log(response)
                })
        }
    }
</script>
