<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>3-1-Tugas-Ajax</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row mt-3" v-show="cardDetail==true">
                <div class="col">
                    <div class="card">
                        <div class="card-header">Detail Member : <strong>{{ nameDetail }}</strong> </div>
                        <div class="card-body">
                            <div class="mb-4">
                                <img :src="photoDetail ? photoDomain + photoDetail : 
                                                'https://dummyimage.com/100x100/ad64ad/ffffff.png'"
                                    class="w-75 rounded shadow"
                                >
                            </div>
                            <div class="form-group">
                                <label>Nama</label>
                                <input readonly type="text" class="form-control" :value="nameDetail">
                            </div>
                            <div class="form-group">
                                <label>No.HP</label>
                                <input readonly type="text" class="form-control" :value="no_hpDetail">
                            </div>
                            <div class="form-group">
                                <label>Alamat</label>
                                <textarea readonly rows="3" class="form-control">{{ addressDetail }}</textarea>
                            </div>
                            <button type="button" class="btn btn-info" @click="closeCard()">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-12">
                    <form @submit.prevent="submitForm()">
                        <p v-if="errors.length">
                            <ul>
                                <li v-for="error in errors">{{ error }}</li>
                            </ul>
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Nama</label>
                                    <input :readonly=" buttonStatus == 'upload' " ref="name" type="text" class="form-control" id="name" name="name" v-model="name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="no_hp">No.HP</label>
                                    <input :readonly=" buttonStatus == 'upload' " type="text" class="form-control" id="no_hp" name="no_hp" v-model="no_hp" ref="no_hp">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address">Alamat</label>
                            <textarea :readonly=" buttonStatus == 'upload' " ref="address" class="form-control" id="address" name="address" rows="3" v-model="address">
                            </textarea>
                        </div>
                        <div v-if="buttonStatus == 'submit'">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <div v-else-if="buttonStatus == 'update'">
                            <button type="button" class="btn btn-success" @click="updateMember(idEditMember)">
                                Update
                            </button>
                            <button type="button" class="btn btn-info" @click="cancel()">
                                Cancel
                            </button>
                        </div>
                        <div v-else-if="buttonStatus == 'upload'">
                            <input type="file" name="photo_profile" ref="photo_profile" id="img" class="form-control-file mb-3">
                            <button type="button" class="btn btn-success" @click.prevent="submitPhoto(idUploadMember)">
                                upload
                            </button>
                            <button type="button" class="btn btn-info" @click.prevent="cancelUpload()">
                                Cancel
                            </button>
                        </div>
                        <div v-else-if="buttonStatus == 'loading'">
                            <button type="button" class="btn btn-primary">LOADING . . . .</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <div class="container" v-if="members.length > 0">
                <span>{{  getAllMemberMessage }}</span>
                <table class="table mt-2">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nama</th>
                            <th scope="col">Alamat</th>
                            <th scope="col">No.Hp</th>
                            <th scope="col" style="width: 15% !important;">Gambar</th>
                            <th scope="col">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="member of members">
                            <td>{{ member.name }}</td>
                            <td>{{ member.address }}</td>
                            <td>{{ member.no_hp }}</td>
                            <td>
                                <img :src="member.photo_profile ? photoDomain + member.photo_profile : 
                                        'https://dummyimage.com/100x100/ad64ad/ffffff.png'"
                                    style="width: 200px;"
                                >
                            </td>
                            <td>
                                <button class="btn btn-sm btn-primary" @click="editMember(member)">
                                    Edit
                                </button>
                                <button class="btn btn-sm btn-warning" @click="removeMember(member)">
                                    Delete
                                </button>
                                <button class="btn btn-sm btn-info" @click="uploadPhoto(member)">
                                    Photo
                                </button>
                                <button class="btn btn-sm btn-success" @click="detailMember(member)">
                                    Detail
                                </button>
                                <button 
                                    type="button" 
                                    class="btn btn-secondary btn-sm" 
                                    data-toggle="modal" 
                                    data-target="#exampleModal"
                                    @click="showMember(member)"
                                >
                                    Show
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>       
            <div class="container text-center">
                <h1>LOADING .....</h1>
            </div>
        </div>

        <!-- Modal  Show Member -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ modalName }}</h5>
                </div>
                <div class="modal-body">
                    <div class="mb-4">
                        <img :src="modalPhoto ? photoDomain + modalPhoto : 
                                        'https://dummyimage.com/100x100/ad64ad/ffffff.png'"
                            class="w-75 rounded shadow"
                        >
                    </div>
                    <div class="form-group">
                        <label>No.HP</label>
                        <input readonly type="text" class="form-control" :value="modalHp">
                    </div>
                    <div class="form-group">
                        <label>Alamat</label>
                        <textarea readonly rows="3" class="form-control">{{ modalAddress }}</textarea>
                    </div>                    
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" 
        crossorigin="anonymous">
    </script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                name: '',
                address: '',
                no_hp: '',
                errors : [],
                members : [],
                getAllMemberMessage:'',
                photoDomain: 'http://demo-api-vue.sanbercloud.com',
                buttonStatus: 'submit',
                idEditMember : null,
                idUploadMember : null,
                showModal: false,
                modalName : '',
                modalAddress : '',
                modalHp : '',
                modalPhoto: '',
                cardDetail: false,
                nameDetail: '',
                addressDetail: '',
                no_hpDetail: '',
                photoDetail: '',
                idCardMember: null
            },
            
            methods: {
                validationForm: function() {
                    this.errors=[];
                    const number=/^[0-9]+$/;

                    if (this.name.length < 5) {
                        this.errors.push('nama minimal 5 karakter');
                        this.$ref.name.focus();
                    }
                   
                    if (this.no_hp==null || this.no_hp==""){
                        this.errors.push("Nomor Handphone tidak boleh kosong");
                        this.$ref.no_hp.focus();
                    };
                    
                    if (!this.no_hp.match(number)){
                        this.errors.push("Nomor Handphone harus angka");
                        this.$ref.no_hp.focus();
                    };

                    if (this.address == null) {
                        this.errors.push('Alamat tidak boleh Kosong');
                        this.$ref.address.focus();
                    }

                    if (this.address =="") {
                        this.errors.push('Alamat tidak boleh Kosong');
                        this.$ref.address.focus();
                    }

                    if (this.address.length > 100) {
                        this.errors.push('Alamat tidak boleh lebih dari 100 karakter');
                        this.$ref.address.focus();
                    }
                },

                clearForm: function() {
                    this.name ='',
                    this.address ='',
                    this.no_hp =''
                },

                submitForm : function() {
                    this.validationForm()
                    if(this.errors.length === 0) {
                        this.buttonStatus = 'loading'
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)
                        
                        const config = {
                            method: 'post',
                            url: 'http://demo-api-vue.sanbercloud.com/api/member',
                            data: formData,
                        }

                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getMembers()
                                this.buttonStatus = 'submit'
                                alert (response.data.message);
                            })
                            .catch((error) => {
                                console.log(error);
                                this.buttonStatus = 'submit'
                            });
                    }
                },

                getMembers: function() {
                    const config = {
                        method: 'get',
                        url: 'http://demo-api-vue.sanbercloud.com/api/member',
                    }

                    axios(config)
                        .then((response) => {
                            this.getAllMemberMessage = response.data.message;
                            this.members = response.data.members
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                },

                removeMember: function(member) {
                    // console.log(member.id)
                    let tanya = prompt("Yakin Menghapus ??", `${member.name}`);
                    if(tanya) {
                        const config = {
                            method: 'post',
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${member.id}`,
                            params: { _method: "DELETE"}
                        }
    
                        axios(config)
                            .then((response) => {
                                this.getMembers()
                                alert (response.data.message);
                            })
                            .catch((error) => {
                                console.log(error);
                            });
                    }
                },

                editMember: function(member) {
                    // console.log(member)
                    this.name= member.name
                    this.address= member.address
                    this.no_hp= member.no_hp
                    this.buttonStatus = 'update'
                    this.idEditMember = member.id
                },

                cancel: function() {
                    this.clearForm()
                    this.idEditMember = null
                    this.buttonStatus = 'submit'
                },

                updateMember: function(id) {
                    // console.log(id)
                    this.validationForm()
                    if (this.errors.length === 0) {
                        this.buttonStatus = 'loading'
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        let config = {
                            method: 'post',
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: { _method: "PUT"},
                            data: formData
                        }

                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getMembers()
                                this.idEditMember = null
                                this.buttonStatus = 'submit'
                                alert (response.data.message);
                            })
                            .catch((error) => {
                                console.log(error);
                                this.buttonStatus = 'submit'
                            });
                    }
                },

                cancelUpload: function() {
                    this.clearForm()
                    this.idUploadMember = null
                    this.buttonStatus = 'submit'
                    // console.log(this.idUploadMember)
                },

                uploadPhoto: function(member) {
                    // console.log(member)
                    this.name= member.name
                    this.address= member.address
                    this.no_hp= member.no_hp
                    this.buttonStatus = 'upload'
                    this.idUploadMember = member.id
                    // console.log(this.idUploadMember)
                },

                submitPhoto: function(id){
                    // console.log(id);
                    if(document.getElementById("img").files.length == 0 ){
                        alert('Please Upload Photo');;
                    } else {  
                        this.buttonStatus = 'loading'                                
                        let file = this.$refs.photo_profile.files[0]
                        
                        let formData = new FormData()
                        formData.append('photo_profile', file)

                        let config = {
                            method: 'post',
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                            data: formData
                        }

                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getMembers()
                                this.idUploadMember = null
                                this.buttonStatus = 'submit'
                                alert (response.data.message);
                            })
                            .catch((error) => {
                                this.buttonStatus = 'submit'
                                console.log(error);
                            });
                        } 
                },

                detailMember: function(member) {
                    // console.log(member.id)
                    const config = {
                        method: 'get',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${member.id}`,
                    }

                    axios(config)
                        .then((response) => {
                            alert (response.data.message);
                            this.cardDetail = true
                            this.nameDetail = member.name
                            this.addressDetail = member.address
                            this.no_hpDetail = member.no_hp
                            this.photoDetail = member.photo_profile
                            this.idCardMember = member.id 
                            console.log(this.idCardMember)
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                },

                closeCard: function() {
                    this.cardDetail = false
                    this.nameDetail = ''
                    this.addressDetail = ''
                    this.no_hpDetail = ''
                    this.photoDetail = ''
                    this.idCardMember = null
                    console.log(this.idCardMember)
                },

                showMember: function(member) {
                    // console.log(member.id)
                    this.modalName = member.name
                    this.modalAddress = member.address
                    this.modalHp = member.no_hp
                    this.modalPhoto = member.photo_profile
                },
            },

            created() {
                this.getMembers()
            }

        })
    </script>
</body>
</html>