<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 2 Laravel Vue Js Crowfunding</title>
</head>
<body>
    <div id="app">
        <form>
            <input type="text" v-model="form.name"> 
            <button @click.prevent="addUser" v-show="!btnUpdate">add</button>
            <button @click.prevent="updateUser" v-show="btnUpdate">update</button>
        </form>

        <ul v-for="(user, index) in users">
            <li>
                <span>{{ user.name }}</span>
                <button @click="editUser(user, index)">Edit</button> 
                || 
                <button @click="hapusUser(index)">Delete</button>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el : '#app',
            data() {
                return {
                    users: [
                        {
                            name: "Muhammad Iqbal Mubarok",
                        },
                        {
                            name: "Rubi Purwanti",
                        },
                        {
                            name: "Fagih Muhammad",
                        },
                    ],
                    btnUpdate: false,
                    form: {
                        name:''
                    },
                    userIndex : null
                }
            },
            methods: {
                addUser() {
                    if (!this.form.name) {
                        alert("Nama tidak boleh kosong")
                    } else {
                        this.users.push(this.form)
                        this.form = {}
                    }
                },
                editUser(user,index) {
                    this.userIndex = index
                    this.btnUpdate = true
                    this.form.name = user.name
                },
                updateUser() {
                    this.users[this.userIndex].name = this.form.name
                    this.form = {}
                    this.btnUpdate = false
                    this.userIndex = null
                },
                hapusUser(index) {
                    var tanya = confirm('anda yakin ??')
                    if(tanya) {
                        this.users.splice(index,1)
                    }
                }
            }
        })
    </script>
</body>
</html>