<template>
    <div class="wrapper">
        <Navigation/>
        <div class="py-3" style="min-height: 80vh !important" v-if="isHome">
            <router-view></router-view>
        </div>
        <div class="py-3" style="min-height: 80vh !important" v-else>            
            <div class="container mb-3">
                <button @click.stop="$router.go(-1)" class="btn btn-warning btn-sm">
                    <p class="mb-0 h5"> <b-icon-arrow-left-circle-fill /> </p>                
                </button>
            </div>
            <router-view></router-view>
        </div>
        <Footer />
    </div>
</template>

<script>
    import Navigation from './components/Navigation.vue'
    import Footer from './components/Footer.vue'
    export default {
        name: 'App',
        components: { 
            Navigation, Footer
        },
        computed: {
            isHome() {
                return (this.$route.path === '/' || this.$route.path === '/home')
            }
        }
    }
</script>