<template>
    <div>
        <!-- <div class="progress" style="height: 1.5rem;" v-if="progress = null">
            <div 
                class="progress-bar progress-bar-striped bg-success progress-bar-animated" 
                role="progressbar" 
                style="0%"
                aria-valuenow="0" 
                aria-valuemin="0" 
                aria-valuemax="100"
            >
                0 %
            </div>
        </div> -->
        <div class="progress" style="height: 1.5rem;">
            <div 
                class="progress-bar progress-bar-striped bg-success progress-bar-animated" 
                role="progressbar" 
                :style="{'width':`${parseInt(progress)}%`}"
                aria-valuenow="progress" 
                aria-valuemin="0" 
                aria-valuemax="100"
            >
                {{ progress }} %
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'campaign-item',
    props: ['campaign'],
    computed: {
        progress() {
            return ((this.campaign.collected/this.campaign.required) * 100)
            // return 50;
        }
    },
    // mounted() {
    //     console.log(isNaN(null))
    // }
}
</script>
