<template>
    <!-- <div>
        <hr>
        <div class="text-center">
            <p>&copy; SANBERCODE - {{ new Date().getFullYear() }}</p>
        </div>
    </div> -->
    <!-- Footer -->
<footer class="text-center bg-light ">
  <div class="container p-2">
    <section class="mb-2">
        <a class="m-1 btn btn-primary btn-floating" style="background-color: #3b5998" href="#!" role="button">
            <b-icon-facebook />
        </a>
        <a class="m-1 btn btn-primary btn-floating" style="background-color: #ac2bac" href="#!" role="button">
            <b-icon-instagram />
        </a>
        <a class="m-1 btn btn-primary btn-floating" style="background-color: #0082ca" href="#!" role="button">
            <b-icon icon="envelope"></b-icon>
        </a>
        <a class="m-1 btn btn-primary btn-floating" style="background-color: #333333" href="#!" role="button">
            <b-icon-github />
        </a>
    </section>
    <section class="mb-2">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
        distinctio earum repellat quaerat voluptatibus placeat nam,
        commodi optio pariatur est quia magnam eum harum corrupti dicta,
        aliquam sequi voluptate quas.
      </p>
    </section>
  </div>
  <div class="p-3 text-center" style="background-color: rgba(0, 0, 0, 0.2)">
    &copy; NUSANTARA - {{ new Date().getFullYear() }}:
  </div>
</footer>
</template>

<script>
    export default {
       
    }
</script>