<template>
    <!-- <div class="container">
        <router-link to="/">Home</router-link>
        <router-link to="/donations">Donations</router-link>
        <router-link to="/blogs">Blogs</router-link>
    </div> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Nusantara</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="mr-auto navbar-nav">
                <li class="nav-item">
                    <router-link exact class="nav-link" :to="{name: 'home'}">Home</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="{name: 'donations'}">Donations</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="{name: 'campaigns'}">Campaigns</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="{name: 'blogs'}">Blogs</router-link>
                </li>
            </ul>
            <form class="my-2 mr-5 form-inline my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="my-2 btn btn-primary my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item" v-if="guest">
                    <router-link class="nav-link" to="#">Login</router-link>
                </li>
                <li class="nav-item" v-if="guest">
                    <router-link class="nav-link" to="#">Register</router-link>
                </li>
                <li class="my-2 mr-3 nav-item" v-if="!guest">
                    <b-button variant="success" v-if="counter == 0">
                        <b-icon icon="credit-card"></b-icon>
                    </b-button>
                    <b-button variant="success" v-else>
                        {{ counter }} <b-icon icon="credit-card"></b-icon>
                    </b-button>
                    <!-- <span class="p-2 badge badge-light">Rp. 4.000</span> -->
                </li>
                <li class="my-auto nav-item" v-if="!guest">
                    <b-avatar class="mr-1" variant="success"></b-avatar>
                    <!-- <img 
                        class="rounded-circle" 
                        src="https://randomuser.me/api/portraits/men/18.jpg" 
                        alt="user"
                        style="height: 2rem; width: 2rem;"
                    > -->
                </li>
                <li class="my-auto nav-item dropdown" v-if="!guest">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sanber
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">
                            <b-icon icon="person-fill" variant="primary"></b-icon>
                            Profile
                        </a>
                        <a class="dropdown-item" href="#">
                            <b-icon icon="gear-fill" variant="success"></b-icon>
                            Setting
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <b-icon icon="power" variant="danger"></b-icon>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
</template>

<script>
    export default {
        data: () => ({
            guest: false
        }),
        computed: {
            counter() {
                return this.$store.getters.getCounter
            }
        }
    }
</script>
